<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
        
    </head>
    <body>
        <div><%= kindOfDay %></div>
        <ul>
            <% for (let i = 0; i < newListItems.length; i++) { %>
                <li><%= newListItems[i] %> </li>

            <% } %>
        </ul>
        <form action="/" method="post">
            <input type="text" name="newItem" id="" placeholder="Add new one">
            <button type="submit" name="btn">Add</button>
        </form>
    </body>
</html>
